extends _layout.pug

block content
  div.container
    div.row
      div.col-sm-6.offset-sm-3
        if (global.currentUser != null)
          div.card.p-2
            if (typeof error === 'string')
              div.alert.alert-danger
                case (error)
                  when 'missing-content'
                    | Content is missing.
                  when 'unauthenticated'
                    | You need to sign up to post.
            form(action='/posts' method='post')
              div.form-group.mb-2
                textarea.form-control(name='content' placeholder='What are you thinking now?' required)
              div
                button.btn.btn-primary(type='submit') Post
        else
          div.card.p-2
            p Sign up to post
            div.mb-2
              a.btn.btn-primary(href='/signup') Sign Up
            div.mb-2
              a.btn.btn-outline-secondary(href='/signin') Sign In

        hr

        each post in posts
          div.card.p-2.mb-3(id=`post-${post.id}`)
            div.mb-2.d-flex.align-items-center.justify-content-between
              div.me-2 Writer: #{post.user_name}

              if (global.currentUser != null && global.currentUser.id === post.user_id)
                div.dropdown
                  button.btn.btn-outline-secondary.dropdown-toggle(type='button' data-bs-toggle="dropdown" aria-expanded="false")
                  ul.dropdown-menu
                    li
                      form(action=`/posts/${post.id}/delete` method='post')
                        button.dropdown-item.text-danger(type='submit')
                          span.me-2
                            i.bi.bi-trash
                          span Delete

            div.card.p-2
              p=post.content
            div created at #{post.created_at}

            hr

            div Comments(#{post.comments.length})

            each comment in post.comments
              div.card.p-2.mb-2
                div Commenter: #{comment.user_name}
                div.card
                  p.p-2= comment.content
                div Commented at #{comment.created_at}


            if (global.currentUser != null)
              div
                form(action='/comments' method='post')
                  div.form-group.mb-2
                    input.form-control(type='text' name='content' placeholder='Write a comment' required)
                    input(type='hidden' name='post_id' value=post.id required)
                  div
                    button.btn.btn-primary(type='submit') Comment
            else
              p.text-body-secondary Sign up to comment
