extends _layout.pug
include mixins/post.pug

block content
  div.container
    div.row
      div.col-sm-6.offset-sm-3
        h1 Edit User Profile

        form(action=`/users/${user.id}` method='post')
          div.form-group
            label Name
            input.form-control(type='text' name='name' value=user.name)
          div.mt-2
            button.btn.btn-primary(type='submit') Submit

        hr

        h2 User Links
        div
          if (userLinks.length === 0)
            div.text-muted No user links
          else
            ul
              each userLink in userLinks
                li
                  a(href=userLink.value) #{userLink.name} (#{userLink.value})
                  form(action=`/users/${user.id}/user-links/delete` method='post')
                    input(type='hidden' value=userLink.id name='user_link_id')
                    button.btn.btn-danger Delete

        form(action=`/users/${user.id}/user-links` method='post')
          div.row
            div.col-6
              div.form-group
                label Name
                input.form-control(type='text' name='name')

            div.col-6
              div.form-group
                label URL
                input.form-control(type='url' name='value')
          div.mt-2
            button.btn.btn-primary(type='submit') Submit

        hr

        h2 Change Password

        if (typeof error === 'string')
          div.alert.alert-danger
            case (error)
              when 'missmatching-new-password'
                | New password and new password confirmation are not matching.
              when 'wrong-current-password'
                | The current password is wrong.
        if (success === 'true')
          div.alert.alert-success The password has been changed successfully.

        form(action=`/users/${user.id}/password` method='post')
          div.form-group
            label Current Password
            input.form-control(type='password' name='currentPassword' required)
          div.form-group
            label New Password
            input.form-control(type='password' name='newPassword' required)
          div.form-group
            label New Password Confirmation
            input.form-control(type='password' name='newPasswordConfirmation' required)
          div.mt-2
            button.btn.btn-primary(type='submit') Submit
